<div class="page-header">
  <h1>Stops</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Behindertengerecht</th>
      <th>Info</th>
    </tr>
  </thead>
  <tbody>
    <%= render @stops %>
  </tbody>
</table>