<tr>
  <td><strong><%= agency.name %></strong></td>
  <td>
    <%= link_to('agency.txt', "/agencies/#{agency.id}/agency.txt") %>
    <%= link_to('stops.txt', "/agencies/#{agency.id}/stops.txt") %>
  </td>
</tr>