<div class="hero-unit">
  <h1>Öffentliche Verkehrsmittel</h1>
  <p>
    Die ersten Ergebnisse der Open Data Initiative Köln. Neuigkeiten und
    weitergehende Informationen finden Sie in unserer
    <a href="https://www.facebook.com/KoelnAPI">Gruppe</a>.
  </p>
</div>

<ul class="thumbnails">
  <%= render @agencies %>
</ul>
