<div class="page-header">
  <h1>Public Transit Open Data</h1>
</div>


<table>
  <thead>
    <th>Name</th>
    <th>Agency</th>
    <th>Stops</th>
    <th>Routes</th>
  </thead>
  <%= render @agencies %>
</table>