<div class="page-header">
  <h1>Kalender Zeiten</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th>Gültig von</th>
      <th>Gültig bis</th>
      <th>Montag</th>
      <th>Dienstag</th>
      <th>Mittwoch</th>
      <th>Donnerstag</th>
      <th>Freitag</th>
      <th>Samstag</th>
      <th>Sonntag</th>
    </tr>
  </thead>
  <tbody>
    <%= render @calendar_services %>
  </tbody>
</table>